services:
  - type: web
    name: myfolio-laravel
    env: php
    region: frankfurt
    plan: free
    buildCommand: |
      composer install --optimize-autoloader --no-dev --no-interaction
      npm install
      npm run build
      php artisan key:generate
      php artisan migrate --force
      php artisan storage:link
      php artisan config:cache
      php artisan route:cache
      php artisan view:cache
    startCommand: vendor/bin/heroku-php-apache2 public/
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: SESSION_DRIVER
        value: cookie
      - key: FILESYSTEM_DISK
        value: public